* {
    background-color: #969A97;
    color: #fff; /* Set the color to white for better visibility */
}

.titleContainer {
    
   
    background-image: url(./book-wall-1151405_1280.jpg);
    padding: 5px;
    font-size: 35px;
    border: 1px ridge #E5ECE9;
    color: #0c0c0c;
    opacity: 0.5;
    height: 250px;
}


h1 {
   position: fixed;
   margin-left: 20px;
   margin-top: 210px;
   background: none;
   color: rgb(250, 250, 245);
   font-size: 45px;
   
}


#mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 50px;
    justify-content: center;
    height: 200px;
    
    font-size: 25px;
}

.listContainer {
   
    
}

.bookContainer {
   
    display: flex;
    flex-direction: row;
}

.bookListContainer {
    margin-left: 45%;
    
}

.hidden {
    display: none;
}