* {

    
    color: #fff; /* Set the color to white for better visibility */
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
    background-color: #0c0c0c;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 

}

#ul li {
    overflow-wrap: break-word;
    }   

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    overflow: scroll;
}

.titleContainer {
    
   
    background-image: url(./book-wall-1151405_1280.jpg);
    padding: 5px;
    font-size: 35px;
    border: 1px ridge #e5ece99c;
    color: #0c0c0c;
    opacity: 0.5;
    height: 100%;
    width: 20%;
    margin-right: 50px;
}

.page-Container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;

}

h1 {
   position: fixed;

   background: none;
   color: rgb(250, 250, 245);
   font-size: 45px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-decoration: line-through #8d2d1d;
   text-shadow: rgb(255, 255, 253) 1px 0 10px;
}

h2 {
    font-size: 35px;;
    font-family: Georgia, 'Times New Roman', Times, serif;
   text-shadow: rgb(255, 255, 253) 1px 0 10px;
    margin-bottom: 20px;
}

h1:hover {
    cursor: pointer;
    text-decoration: underline overline #8d2d1d;
}

 li::marker {
    content: " ¤ ";
   
 }

#mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    width: 100%;
}



.bookContainer {
   background: transparent;
    display: flex;
    flex-direction: row;
    
}

.bookListContainer {
    margin-left: 45%;
    
}

.hidden {
    display: none;
}

button {
   
      align-items: center;
      background-color: #D6D1CD;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: .25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      color: #6e7572;
      cursor: pointer;
      display: inline-flex;
      font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      margin-top: 15px;
      min-height: 3rem;
      padding: calc(.875rem - 1px) calc(1.5rem - 1px);
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      -webkit-user-select: none;
       user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
    }
    
    button:hover,
    button:focus {
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      color: #E5ECE9;
    }
    
    button:hover {
      transform: translateY(-1px);
    }
    
    button:active {
      background-color: #F0F0F1;
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
      color: rgba(0, 0, 0, 0.65);
      transform: translateY(0);
    }

    #resetButton {
        margin-left: 15px;
        margin-bottom: 50px;
        position:static;
        

    }

    input {
        outline: none;
        color: rgb(202, 209, 209);
        font-weight: 600;
        background: rgb(53, 52, 52);
        border-inline: none;
        margin-bottom: 10px;
        height: 40px;
        padding: 10px;
        font-size: 20px;
    }

 

    #bookForm {
        margin: 40px;
        font-size: 18px;
        gap: 40px;
    }

    #bookList {
        font-size: 18px;
        word-spacing: 9px;
    }